{% extends  'base.html.twig' %}

{% block content %}
    <main class="container">
        <!-- On affiche le message de notification s'il existe -->
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <h1>Liste des produits</h1>

        {% for row in products | batch(4) %}
            <div class="row card-container">
                {% for product in row %}
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Créé le {{ product.createdAt | date('d/m/Y à H:i') }}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </main>
{% endblock %}















